repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
        # This tells the standard JSON checker to skip the devcontainer
        exclude: ^\.devcontainer/devcontainer\.json$

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/iterative/dvc
    rev: main
    hooks:
      - id: dvc-pre-commit
      - id: dvc-pre-push
