name: Integration Tests

on:
  push:
    branches:
      - main
    paths:
      - "models/**"
  pull_request:
    branches:
      - main
    paths:
      - "models/**"

jobs:
  test:
    name: Run integration tests on multiple OS
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: ["ubuntu-latest"]
        python-version: ["3.12"]
        torch-version: ["2.3.0"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install -U pip setuptools wheel
          pip install torch==${{ matrix.torch-version }} --extra-index-url https://download.pytorch.org/whl/cpu
          pip install -r requirements.txt
          pip install -r requirements_dev.txt

      - name: Run tests & coverage
        run: pytest tests/integration/
