name: Code linting

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Code linting
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install -U pip setuptools wheel
          pip install --extra-index-url https://download.pytorch.org/whl/cpu -r requirements.txt
          pip install -r requirements_dev.txt

      - name: ruff check
        run: |
          ruff check .

      # - name: mypy check
      #   run: |
      #     mypy .
