name: Unit Tests

on:
  pull_request:

jobs:
  test:
    name: Run unit tests on multiple OS
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: ["ubuntu-latest", "windows-latest", "macos-latest"]
        python-version: ["3.11","3.12"]
        torch-version: ["2.2.0", "2.3.0"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install -U pip setuptools wheel
          pip install torch==${{ matrix.torch-version }} --extra-index-url https://download.pytorch.org/whl/cpu
          pip install -r requirements.txt
          pip install -r requirements_dev.txt

      - name: Run tests & coverage
        run: |
          coverage run -m pytest tests/unit/
          coverage report -m
